<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
	<form action=/login method='POST'>
        <br><br>
        <p>Login:<br><input type='text' name='login'></p>
        <p>Password:<br><input type='password' name='pwd'></p>
        <input type='submit' value='Ok'>
        <br>
        <input type='submit' value="Registration" name="reg">
		<br>
		 <a href="http://localhost:65010/catalog">Mobiles catalog</a>
		 <a href="http://localhost:65010/login_firm">Вход для представителя фирмы</a>
		 
       
    </form>
</body>
</html>
